{% extends "base.html" %}

{% load static %}

{% block titulo %}Meu Canal - Video{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="{% url 'conteudo:catalogo' %}">Meu Canal</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
				  <li class="nav-item active">
				    <a class="nav-link" href="{% url 'conteudo:catalogo' %}">Início <span class="sr-only">(current)</span></a>
				  </li>
	  			  <li class="nav-item">
				    <a class="nav-link" href="#">Séries</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#">Área Kids</a>
				  </li>
	  			  <li class="nav-item">
				    <a class="nav-link" href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">Categorias</a>
				  </li>
				</ul>
				<form class="form-inline my-2 my-lg-0 ml-auto">
				  <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
				  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
				</form>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Usuário
          			      <img class="rounded-circle" src="{% static 'projeto/images/user_male.png' %}" alt="Generic placeholder image" width="55" height="50">
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <a class="dropdown-item" href="#">Minha Conta</a>
				          <a class="dropdown-item" href="#">Minha Lista</a>
				          <div class="dropdown-divider"></div>
				          <a class="dropdown-item" href="{% url 'pagina_inicial' %}">Logout</a>
				        </div>
			      	</li>
			  	</ul>
			</div>
		</div>
	</nav>
{% endblock %}

{% block conteudo %}
    <div class="container pagina_video mb-5">
		<div class="row">
			<div class="col-md-8 mb-3">
				<video id="myVideo" height="100%" width="100%" controls="controls">
					<source src="/../../media/{{video.url}}" type="video/mp4">
					<object data="" width="320" height="230">
					</object>
				</video>
			</div>

			<div class="col-md-4 mb-3">
				<div id="accordion">
				  	<div class="card">
					    <div class="card-header" id="headingOne">
					      	<h5 class="mb-0">
					        	<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="botaoComentario">
					          	Comentários:</button>
					      	</h5>
					    </div>

					    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
					      	<div class="card-body">
					      		<div class="container rolagem">
							        <form class="form-inline">
						        	  	<div class="form-group">
						        	  		<label for="inputComentario">Digite seu Comentário:</label>
										    <input type="text" id="inputComentario" class="form-control" placeholder="Digite aqui"/>
									  		<button type="submit" class="btn btn-primary"><span class="oi oi-circle-check"></span></button>
									  	</div>
									</form>
								  	<div class="form-group">
								  		<ul class="list-unstyled">
										  	<li class="media my-4">
											    <img class="mr-1" src="{% static 'projeto/images/user_icon.png' %}" alt="Generic placeholder image" width="64" height="64">
											    <div class="media-body">
											      <h5 class="mt-0 mb-3">Usuário 1</h5>
											      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
											    </div>
										  	</li>
										  	<li class="media my-4">
											    <img class="mr-1" src="{% static 'projeto/images/user_icon.png' %}" alt="Generic placeholder image" width="64" height="64">
											    <div class="media-body">
											      <h5 class="mt-0 mb-3">Usuário 2</h5>
											      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
											    </div>
										  	</li>
										</ul>
									</div>
								</div>
				        	</div>
				    	</div>
				  	</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block modal-content %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Categorias</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
            {% for categoria in categorias %}
                <a href="{% url 'conteudo:lista_categoria' id=categoria.id %}" class="list-group-item list-group-item-action">{{ categoria.nome }}</a>
            {% endfor %}
        </ul>
      </div>
{% endblock %}